src/conf/xml-resources/web-service-references/Service1/wsdl/localhost_8080/WSSiglo/Service1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="WSSII" type="tns:WSSII"/>

<xs:element name="WSSIIResponse" type="tns:WSSIIResponse"/>

<xs:element name="WStransferencia" type="tns:WStransferencia"/>

<xs:element name="WStransferenciaResponse" type="tns:WStransferenciaResponse"/>

<xs:complexType name="WSSII">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSSIIResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WStransferencia">
<xs:sequence>
<xs:element name="run" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="montoPago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WStransferenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>